name: Build Plugin

on:
  push:
    branches: [ main, fix/* ]
    tags: [ 'v*' ]
  pull_request:
    types: [ opened, synchronize, reopened ]
  workflow_dispatch:

env:
  BUILD_TYPE: RelWithDebInfo
  SOURCE_ROOT: ./build/modorganizer_super/${{ github.event.repository.name }}

jobs:
  build:
    runs-on: windows-2022
    steps:
      - name: Build Dependencies
        id: build-deps
        uses: ModOrganizer2/build-with-mob-action@master
        with:
          mo2-dependencies: cmake_common uibase lz4
          mo2-skip-configure: true
          qt-modules: qtpositioning qtwebchannel qtwebengine

      - name: Create vcpkg cache directory
        run: New-Item -ItemType Directory -Force -Path "${{ github.workspace }}/vcpkg-cache"

      - name: Restore vcpkg cache
        uses: actions/cache@v4
        with:
          path: ${{ github.workspace }}/vcpkg-cache
          key: vcpkg-${{ runner.os }}-boost-v1
          restore-keys: |
            vcpkg-${{ runner.os }}-boost-

      - name: Install vcpkg dependencies
        run: |
          vcpkg install boost-headers:x64-windows-static-md boost-signals2:x64-windows-static-md
        env:
          VCPKG_DEFAULT_BINARY_CACHE: ${{ github.workspace }}/vcpkg-cache

      - name: Configure
        run: |
          cd build/mo2-notes
          cmake --preset vs2022-windows-ci `
            "-DCMAKE_PREFIX_PATH=${{steps.build-deps.outputs.cmake-prefix-path}};C:\vcpkg\installed\x64-windows-static-md" `
            "-DCMAKE_INSTALL_PREFIX=${{steps.build-deps.outputs.cmake-install-path}}"

      - name: Build
        run: cmake --build build/mo2-notes/vsbuild --config ${{env.BUILD_TYPE}} --parallel

      - name: Install
        run: cmake --install build/mo2-notes/vsbuild --config ${{env.BUILD_TYPE}} --prefix build/mo2-notes/install

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: mo2-notes
          path: build/mo2-notes/install/bin

      - name: Create Release Archive
        if: startsWith(github.ref, 'refs/tags/v')
        run: |
          $version = "${{ github.ref_name }}"
          7z a "mo2-notes-panel-$version.7zip" ./build/mo2-notes/install/bin/*

      - name: Upload Release Assets
        if: startsWith(github.ref, 'refs/tags/v')
        uses: softprops/action-gh-release@v2
        with:
          files: mo2-notes-panel-${{ github.ref_name }}.7zip